global
    log /dev/log local0
    log /dev/log local1
    #debug

defaults
    log     global
    mode    http
    option  httplog
    option  log-health-checks
    option  dontlognull
    retries 3
    option redispatch
    timeout connect  5000
    timeout client  10000
    timeout server  10000

frontend balancer
    bind 0.0.0.0:80

    acl pingmsg_exists req.hdr(x-ping) -m found
    http-request set-var(txn.ping_msg) req.hdr(x-ping) if pingmsg_exists
    http-response add-header Set-Cookie pong=%[var(txn.ping_msg)];\ path=/

    default_backend hello_world

backend hello_world
    balance roundrobin
    option httpchk GET /ping
    cookie HOST insert
    server hiworld hiworld:80 cookie hiworld check inter 1s rise 2 fall 1
    server brokenworld brokenworld:80 cookie brokenworld check inter 1s rise 2 fall 1
